.gitattributes text eol=lf
.gitignore text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.env text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.svg text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
